@import "ubuntu";

[v-cloak] {
  display: none;
}
a {
  cursor: pointer!important;
}
html, body {
  height: 100%;
  font-family: 'Ubuntu', Serif;
}
.layout {
  background: #ffffff;
  height: 100%;
  overflow: scroll;
  > div {
    background: #f8f6f6;
  }
  .login-component {
    width: 100%;
  }
  .sidebar {
    width: 300px;
    height: 100%;
    background: #222222;
  }
  .content {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 200px;
  }
}
.row {
  &.header {
    background: #332b3e;
    padding: 20px 0;
  }
}
.fa-circle-o-notch {
  color: #a8a6ff;
}
.rc-block {
  margin: 20px 0;
}
.rc-container {
  margin: 20px;
}
.sidebar {
  width: 300px;
}
